<div class="about-me" id="about">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-6 pt-5">
        <h1>about me</h1>
        <p class="mt-5" style="text-align: justify;">Hi, I'm a web development enthusiast that is armed with experience,
          learning,
          and passion. </p>
        <p style="text-align: justify;">I am an aspiring full-stack developer currently living in Muntinlupa City.
          Professional experienced in making
          RESTful API and Angular application. Familiar with object-oriented programming and MVC and also experienced in
          making Spring boot and Angular application.

          I use HTML, CSS, JAVASCRIPT often, usually with JQUERY and BOOTSTRAP with a foundation in problem-solving and
          web layout design.

        </p>
        <p style="text-align: justify;">My current toolsets includes <strong>Vue.js</strong> and <strong>Quasar
            Framework</strong>, <strong>Node.js</strong> and
          <strong>Express/Feathers.js</strong> and all the other
          various libraries and technologies related to them.</p>
      </div>
    </div>

  </div>
</div>
