<div class="main-container" id="main">
  <div class="profile-container">
    <div class="container">
      <div class="d-flex flex-md-column justify-content-between" style="height: 100vh;">

        <div class="pt-4 text-center">
          <img class="rounded-circle my-3" src="../../assets/img/Logo2.jpg" alt="Display photo">
          <h1 class="name pt-2">RENZO R. CRETECIO</h1>
          <div class="align-items-center mt-3 mb-5" id="profession">
            <h5 class="title-1">FRONT-END DEVELOPER</h5>
            <h5 class="title-2">BACK-END DEVELOPER</h5>
            <h5 class="title-3">WEB DESIGNER</h5>
          </div>
          <div class="page-control text-center d-flex flex-md-column">
            <a [routerLink]="['/about']">ABOUT</a>
            <a [routerLink]="['/projects']">RECENT WORKS</a>
            <a [routerLink]="['/contact']">CONTACT ME</a>
          </div>
        </div>


        <div class="py-3">
          <div class="footer text-center">
            <footer>Renzo R. Cretecio &copy; {{year}}</footer>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-container" [@routeAnimations]="o && o.activatedRouteData 
  && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
