<div class="recent-projects" id="projects">
  <div class="container-fluid">
    <div class="row text-center justify-content-center">
      <div class="col-md-12 text-center">
        <h1 class="mt-5" style="text-transform: uppercase;">recent works</h1>
      </div>
      <div class="col-md-5 spacing">
        <div class="card mx-auto">
          <div class="card-container">
            <img src="../../assets/img/sc/covidtracker1.png" alt="HRIS" class="card-img-top">
          </div>
          <div class="card-body">
            <h5>PH Covid-19 Cases Tracker</h5>
          </div>
        </div>
      </div>

      <div class="col-md-5 spacing">
        <div class="card mx-auto">
          <div class="card-container">
            <img src="../../assets/img/sc/ece1.png" alt="HRIS" class="card-img-top">
          </div>
          <div class="card-body">
            <h5>EASTBLUE CARGO EXPRESS</h5>
          </div>
        </div>
      </div>
      <div class="col-md-5 spacing">
        <div class="card mx-auto">
          <div class=" card-container">
            <img src="../../assets/img/sc/hris1.png" alt="HRIS" class="card-img-top">

            <div class="card-body">
              <h5>Human Resource Information System</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 spacing">
        <div class="card mx-auto">
          <div class="card-container">
            <img src="../../assets/img/sc/egovpay1.png" alt="HRIS" class="card-img-top">

          </div>
          <div class="card-body">
            <h5>Egovpay</h5>
          </div>
        </div>
      </div>

    </div>

    <div class="page-control">
      <a (click)="prevBtn()" class="prev-btn"><i class="fa fa-chevron-left fa-2x"></i></a>
      <a (click)="nextBtn()" class="next-btn"><i class="fa fa-chevron-right fa-2x"></i></a>
    </div>

  </div>
</div>
