<div class="recent-projects" id="projects">
  <div class="container-fluid">
    <div class="row text-center justify-content-center">
      <div class="col-md-12 text-center">
        <h1 class="page-title mt-5" style="text-transform: uppercase;">recent works</h1>
      </div>
      <div class="col-md-5 spacing">
        <div class="card w-100">
          <div class="card-title d-flex justify-content-between">
            <i style="color: #00d8f7" class="ml-3 mt-3 far fa-folder-open fa-2x"></i>
            <div class="mr-3 mt-3 icon-right">
              <i class="mx-2 fab fa-github-alt fa-2x"></i>
              <i class="mx-2 fa fa-external-link-alt fa-2x"></i>
            </div>
          </div>
          <div class="card-body text-left">
            <h5 class="card-tlt">PH Covid-19 Cases Tracker</h5>
            <footer>A progressive web application for tracking coronavirus outbreak in the Philippines</footer>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <footer class="footer-text">Vue</footer>
            <footer class="footer-text">Material Layout</footer>
            <footer class="footer-text">Chart.js</footer>
            <footer class="footer-text">Leaflet</footer>
          </div>
        </div>
      </div>

      <div class="col-md-5 spacing">
        <div class="card w-100">
          <div class="card-title d-flex justify-content-between">
            <i style="color: #00d8f7" class="ml-3 mt-3 far fa-folder-open fa-2x"></i>
            <div class="mr-3 mt-3 icon-right">
              <i class="mx-2 fab fa-github-alt fa-2x"></i>
              <i class="mx-2 fa fa-external-link-alt fa-2x"></i>
            </div>
          </div>
          <div class="card-body text-left">
            <h5 class="card-tlt">eastbluecargoexpress.ph</h5>
            <footer>A company website for East Blue Cargo Express</footer>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <footer class="footer-text">Bootstrap 4</footer>
            <footer class="footer-text">Fontawesome</footer>
            <footer class="footer-text">Jquery/Javascript</footer>
          </div>
        </div>
      </div>
      <div class="col-md-5 spacing">
        <div class="card w-100">
          <div class="card-title d-flex justify-content-between">
            <i style="color: #00d8f7" class="ml-3 mt-3 far fa-folder-open fa-2x"></i>
            <div class="mr-3 mt-3 icon-right">
              <i class="mx-2 fab fa-github-alt fa-2x"></i>
              <i class="mx-2 fa fa-external-link-alt fa-2x"></i>
            </div>
          </div>
          <div class="card-body text-left">
            <h5 class="card-tlt">HRIS application form</h5>
            <footer>An employee application form web app for a company</footer>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <footer class="footer-text">Angular 5</footer>
            <footer class="footer-text">Bootstrap 3</footer>
            <footer class="footer-text">Jquery</footer>
          </div>
        </div>
      </div>
      <div class="col-md-5 spacing">
        <div class="card w-100">
          <div class="card-title d-flex justify-content-between">
            <i style="color: #00d8f7" class="ml-3 mt-3 far fa-folder-open fa-2x"></i>
            <div class="mr-3 mt-3 icon-right">
              <i class="mx-2 fab fa-github-alt fa-2x"></i>
              <i class="mx-2 fa fa-external-link-alt fa-2x"></i>
            </div>
          </div>
          <div class="card-body text-left">
            <h5 class="card-tlt">GeoMap</h5>
            <footer>A simple real-time geomap application with crud funtionality using RESTful api</footer>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <footer class="footer-text">Quasar</footer>
            <footer class="footer-text">Leaflet</footer>
            <footer class="footer-text">Feathers.js</footer>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
