<div class="contact" id="contactMe">
  <div class="container">
    <div class="d-flex flex-md-column w-75 mx-auto justify-content-around responsive" style="height: 100vh;">
      <section class="mt-5 section-1">
        <h1 class="text-center">get in touch</h1>
        <p>If you want to get in touch or talk about a project, send me a message or send an email to
          <a target="_top" href="mailto:renzocretecio@gmail.com"><strong>renzocretecio@gmail.com</strong></a></p>
      </section>

      <!-- <form [formGroup]="form" name="contact" id="contact" (ngSubmit)="onSubmit()" method="POST">
        <div class="row justify-content-between form-contact">
          <div class="col-md-6 spacing">
            <label for="name">Name</label>
            <input [ngClass]="" formControlName="name" name="name" class="form-control form-control-lg" type="text"
              id="name" required>

          </div>
          <div class="col-md-6 spacing">
            <label for="email">E-mail</label>
            <input formControlName="email" name="email" type="email" class="form-control form-control-lg" id="email"
              required>
          </div>
          <div class="col-md-12 spacing textarea">
            <label for="message">How can I help?</label>
            <textarea formControlName="message" name="message" id="message" class="form-control" rows="4"></textarea>
          </div>
        </div>
        <div *ngIf="isSent" class="alert alert-success position-absolute mx-auto mt-3" role="alert">
          <p class="m-0">Message Sent</p>
        </div>
        <div class="d-flex justify-content-end py-3">
          <button [disabled]="!form.valid" id="submit-form" class="btn-round btn" type="submit">Submit</button>
        </div>
      </form> -->

      <section>
        <h4 class="text-center">links</h4>
        <div class="links">
          <a target="_blank" class="icon-btn fab fa-github-alt" href="https://github.com/creteciorenzo"></a>
          <a target="_blank" class="icon-btn fab fa-facebook-messenger"
            href="https://www.messenger.com/t/creteciorenzo"></a>
          <a target="_blank" class="icon-btn fab fa-instagram" href="https://www.instagram.com/xromanticgarbage/"></a>
          <a target="_blank" class="icon-btn fab fa-linkedin-in"
            href="https://www.linkedin.com/in/renzo-cretecio-a0b96616b/"></a>
        </div>
      </section>
    </div>
  </div>
</div>
