#contactMe {
  color: #152238;
}

.section-1 a {
  text-decoration: none;
  color: #152238;
  cursor: pointer;
}

.section-1 a:hover {
  color: #00d8f7;
}

.form-contact label,
.btn {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

.form-control:focus {
  border-color: #152238;
  box-shadow: 0 0 5px #1522382f;

}

.btn-round {
  border: solid #152238 2px;
  border-radius: 25px;
  background-color: #152238;
  color: #bcd2e8;
  width: 5em;
  height: 3rem;
  font-size: 18px;
  cursor: pointer;
  transition: all 200ms;
}

.btn-round:hover {
  background-color: #e6e6e6;
  color: #152238;
}

.links {
  display: flex;
  justify-content: center;
  padding: 0;

}

.icon-btn {
  list-style: none;
  width: 50px;
  height: 50px;
  margin: 10px;
  position: relative;
  font-size: 30px;
  border-radius: 50%;
  color: #bcd2e8;
}


.icon-btn::before {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
  background: #152238;
  transition: 0.4s;
}

.icon-btn:hover::after {
  transform: scale(1.3);
  opacity: 0;
}

.icon-btn:hover {
  border: 2px solid #152238;
  color: #152238;

}

@media only screen and (max-width: 48rem) {

  .section-1 h1 {
    font-size: 6vw;
  }

  .responsive {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 30rem) {
  .section-1 h1 {
    font-size: 7vw;
  }

  .section-1 p,
  .form-contact label {
    font-size: 4vw;
  }

  .icon-btn {
    margin: 5px;
  }

}
