<div class="contact" id="contactMe">
  <div class="container">
    <div class="d-flex flex-md-column w-75 mx-auto justify-content-between" style="height: 100vh;">
      <section class="mt-5 ">
        <h1 class="text-center">get in touch</h1>
        <p>If you want to get in touch, talk about a project or just say hi, send me a message or send an email to <a
            href="">renzocretecio@gmail.com</a></p>
      </section>

      <form action="submit">
        <div class="form-row">
          <div class="col">
            <label for="name">Name</label>
            <input class="form-control-lg">
          </div>

        </div>
      </form>

      <section>
        <h4 class="text-center">links</h4>
        <div class="links">
          <a target="_black" class="icon-btn fab fa-github-alt" href="https://github.com/creteciorenzo"></a>
          <a target="_black" class="icon-btn fab fa-facebook-messenger"
            href="https://www.messenger.com/t/creteciorenzo"></a>
          <a target="_black" class="icon-btn fab fa-instagram" href="https://www.instagram.com/xromanticgarbage/"></a>
          <a target="_black" class="icon-btn fab fa-linkedin-in"
            href="https://www.linkedin.com/in/renzo-cretecio-a0b96616b/"></a>
        </div>
      </section>
    </div>
  </div>
</div>
