#content-list {
  color: #1C1D24;
  position: relative;
}

.content-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.content-list li {
  margin: 1em;
  font-size: 2vw;
}

.content-list li a {
  font-size: 2vw;
  color: #EA2340;
}

.next-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 50%;
  right: 1%;
  background-color: #EA2340;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
  animation: fadeInRight 1s;
}

.prev-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 50%;
  right: 64.5%;
  background-color: #EA2340;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
  animation: fadeInLeft 1s;
}

.next-btn i,
.prev-btn i {
  margin-top: 14px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
