<div class="table-of-contents" id="content-list">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h1 class="pt-5" style="text-transform: uppercase;">Table of contents</h1>
      </div>

      <div class="col-md-5">
        <ul class="content-list mt-4">
          <li> <a href="">About me</a> </li>
          <li> <a href="">Services</a> </li>
          <li> <a href="">Projects</a> </li>
          <li><a href="">Contact</a> </li>
        </ul>
      </div>

    </div>
    <a [routerLink]="['about']" class="next-btn"><i class="fa fa-chevron-right fa-2x"></i></a>
  </div>
</div>
