<div class="services mt-5" id="services">
  <div class="container-fluid">
    <div class="row justify-content-center contents">

      <div class="service-1 col-md-5">
        <div class="card">
          <img class="icon" src="../../../assets/icons/web.png" alt="web development" height="64" width="64">
          <div class="card-body">
            <h5 class="card-title title">Web development</h5>
            <p class="card-text">I can build your website from simple
              features to advance, front-end and back-end development.
            </p>
          </div>
        </div>
      </div>
      <div class="service-2 col-md-5">
        <div class="card">
          <img class="icon text-center" src="../../../assets/icons/responsive.png" alt="ux/ui" height="64" width="64">
          <div class="card-body">
            <h5 class="card-title title ">UX/UI Design</h5>
            <p class="card-text ">I can make you simple landing page and complex design for your web app
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
