#home {
  position: relative;
  height: 100vh;
  color: #152238;
}

.wrapper {
  width: 80%;
  margin: 0 auto;

}

.wrapper h1 {
  text-transform: capitalize;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper p {
  font-weight: 500;
  font-size: 25px;
}

.wrapper .btn {
  border: solid #152238 2px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  color: #152238;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  transition: all 300ms;
  margin-right: 10px;
  box-shadow: 5px 5px #15223830;
}

#primary-btn {
  background-color: #152238 !important;
  color: #e6e6e6 !important;

}

.wrapper .btn:hover {
  background-color: #152238;
  color: #e6e6e6;

}


@media only screen and (max-width: 62rem) {

  .wrapper h1 {
    font-size: 7vw;
  }

  .wrapper p {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 48rem) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 30rem) {
  .wrapper h1 {
    font-size: 9vw;
  }

  .wrapper p {
    font-size: 6vw;
  }

  .wrapper .btn {
    font-size: 4vw;
  }
}
